html body {
    background-color: #303030;
}

.navbar {
    background-color: #282828;
    color: #fff;
    border-radius: 3px;
}

.table {
    color: #fff;
    border-radius: 3px;
    background-color: #282828;
}